{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var posts_url = "{{=URL('api', 'get_posts', hash_vars=False)}}";
    var threads_url = "{{=URL('api', 'get_threads', hash_vars=False)}}";
    var create_thread_url = "{{=URL('api', 'create_thread', user_signature=True)}}";
    var add_post_url = "{{=URL('api', 'add_post', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <div class="container padded">
            <div class="threequarters" v-if="!is_creating">
                {{if auth.user:}}
                <!-- Add form -->
                <div v-if="is_adding" id="add_post_div">
                    <form action="#" v-on:submit.prevent="add_post(curr_thread_id)" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <div class="form-group" id="no_table_memo__row">
                            <div>
                                <textarea class="form-control string" id="no_table_post" v-model="form_content" placeholder="Story continues on..." type="text">
                                </textarea>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Buttons -->
                <div class="button_bar" v-if="curr_thread_id > -1">
                    <button v-if="!is_adding" class="btn" v-on:click="add_post_button()">
                        <i class="fa fa-plus"></i> Continue this story
                    </button>
                    <button v-if="is_adding" class="btn" v-on:click="add_post(curr_thread_id)">
                        <i class="fa fa-pencil-square-o"></i> Add
                    </button>
                    <button v-if="is_adding" class="btn" v-on:click="cancel_add_post()">
                        <i class="fa fa-times"></i> Cancel
                    </button>
                </div>
                {{pass}}

                <div v-for="post in posts">
                    <!-- Post print -->
                    <div class="post">
                        <div class="post_content">${post.content}</div>
                        <div class="post_author">Author: ${post.user_name} | Date posted: ${post.date}</div>
                    </div>
                </div>

                <!-- Get more -->
                <div v-if="has_more" class="show_more" align="center">
                    <button class="btn btn-default rounded" v-on:click="get_more()">
                        <i class="fa fa-ellipsis-h"></i> Load more
                    </button>
                </div>
            </div>

            <!-- Create thread -->
            <div class="threequarters" v-if="is_creating">
                <h3><i class="fa fa-book"></i> Create New Story Thread</h3><br/>
                <form action="#" v-on:submit.prevent="create_thread()" class="form-horizontal" enctype="multipart/form-data" method="post">
                        <div class="form-group" id="no_table_memo__row">
                            <div>
                                <input class="form-control string fill" id="no_table_title" v-model="form_thread_title" placeholder="Title of the story" type="text"/>
                                <span class="help-block"></span>
                            </div>
                            <div style="padding-top: 10px;">
                                <label class="left">Choose Category: <span style="color: #959595; font-size: 12px;">(* hit enter to add)</span></label>
                                <input class="fill" type="text" list="no_table_cate" v-model="form_thread_temp" v-on:keyup.enter="add_cate(form_thread_temp)">
                                <datalist class="fill" id="no_table_cate">
                                    <option data-value="Action">Action</option>
                                    <option data-value="Adventure">Adventure</option>
                                    <option data-value="Apocalyptic">Apocalyptic</option>
                                    <option data-value="Children">Children's</option>
                                    <option data-value="Comedy">Comedy</option>
                                    <option data-value="Contemporary">Contemporary</option>
                                    <option data-value="Crime">Crime</option>
                                    <option data-value="Dark">Dark</option>
                                    <option data-value="Drama">Drama</option>
                                    <option data-value="Epic">Epic</option>
                                    <option data-value="Experimental">Experimental</option>
                                    <option data-value="Fairy_tale">Fairy tale</option>
                                    <option data-value="Fanfic">Fan fiction</option>
                                    <option data-value="Fantasy">Fantasy</option>
                                    <option data-value="Historic">Historic</option>
                                    <option data-value="Horror">Horror</option>
                                    <option data-value="Humor">Humor</option>
                                    <option data-value="Meta">Meta</option>
                                    <option data-value="Mystery">Mystery</option>
                                    <option data-value="NSFW">! NSFW !</option>
                                    <option data-value="Philosophic">Philosophic</option>
                                    <option data-value="Political">Political</option>
                                    <option data-value="Romance">Romance</option>
                                    <option data-value="Satire">Satire</option>
                                    <option data-value="School">School</option>
                                    <option data-value="Scifi">Science fiction</option>
                                    <option data-value="Spiritual">Spiritual</option>
                                    <option data-value="Sports">Sports</option>
                                    <option data-value="Thriller">Thriller</option>
                                    <option data-value="Tragedy">Tragedy</option>
                                    <option data-value="Urban">Urban</option>
                                    <option data-value="Western">Western</option>
                                    <option data-value="YA">Young adult</option>
                                </datalist>
                                <span class="help-block"></span>
                                <div class="tags dismissible" style="margin-top: 12px;"><span class="teal" v-for="cate in form_thread_category">
                                    <span v-on:click="rmv_cate(cate._idx)">${cate}</span>
                                </span></div>
                            </div>
                        </div>
                    </form>
                <div class="button_bar">
                    <button class="btn" v-on:click="create_thread()">
                        <i class="fa fa-check"></i> Create and start
                    </button>
                    <button v-if="is_adding" class="btn" v-on:click="cancel_create_thread()">
                        <i class="fa fa-times"></i> Cancel
                    </button>
                </div>
            </div>

            <div class="quarter right">
                {{if auth.user:}}
                    <button v-on:click="create_thread_button()"><i class="fa fa-book"></i> Start a new story</button>
                {{pass}}
                <table class="fill" id="thread_selector">
                  <tbody>
                    <!-- One row for each threads. -->
                    <tr v-for="thread in threads">
                        <td v-on:click="get_posts(thread.id)" v-bind:style="is_selected(thread.id)">${thread.title}</td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
