.colorful {
  color: $clrHilight;
}

.memo_listing {
  margin: 10px 0px 10px 0px;
  padding: 0 0 0 0px;
}

.memo_list {
  padding-top: 10px;
}

.memo {
  border-color: $clrMemoBorder;
  border-style: solid;
  border-width: 1px;
  background: $clrMemoBackground;
  margin: 20px 0px 20px 0px;
  padding: 20px;
  @include border-radius(16px);
}

table#thread_selector {
  border: 1px solid gray;
  tbody tr {
    border-bottom: 1px solid gray;
  }
}